<!-- ===== TOP BAR ==================================================== -->
<div class="top-bar text-white py-2 js-topbar">
  <div class="container d-flex justify-content-between">
    <div class="contact-info">
      <a href="tel:+31182529151" class="topbar-link">
        <i class="bi bi-telephone"></i> 0182 – 529151
      </a>
      <span class="mx-3"></span>
      <a href="mailto:info@fysiotherapiededoelen.nl" class="topbar-link">
        <i class="bi bi-envelope"></i> info@fysiotherapiededoelen.nl
      </a>
    </div>
    <div class="social-icons d-none d-md-block">
      <a href="https://www.facebook.com/fysiotherapiededoelen/" class="topbar-link" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook mx-2"></i></a>
      <a href="https://x.com/fysionmove" class="topbar-link" target="_blank" rel="noopener noreferrer"><i class="bi bi-twitter mx-2"></i></a>
      <a href="https://nl.linkedin.com/company/fysiotherapie-de-doelen" class="topbar-link" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin mx-2"></i></a>
      <a href="https://www.instagram.com/fysiotherapiededoelen/" class="topbar-link" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram mx-2"></i></a>
    </div>
  </div>
</div>
